.client {
  background: $client-background-colour;
  color: black;
  margin: 0 auto;
  padding: 86px 11vw 12vw;
  position: relative;
  z-index: 1;

  @media #{$laptop} {
    padding: 140px 86px 86px;
  }

  a {
    @include font-light();
    color: white;
    text-decoration: none;
  }

  .client-name {
    @include font-light(26px);
    display: block;
    font-weight: 400;
    letter-spacing: -.04vw;
    margin: 0;
    padding: 0 0 1.4vw 0;
    position: relative;

    @media #{$tablet} {
      font-size: 6.4vw;
    }

    @media #{$laptop} {
      font-size: 84px;
    }
  }
}

.back-button {
  display: block;
  left: 20px;
  line-height: 1;
  position: absolute;
  top: 20px;
  z-index: 3;

  @media #{$laptop} {
    left: 36px;
    top: 42px;
  }

  &__svg {
    display: block;
    height: 50px;
    position: relative;
    width: 50px;
  }

  &__arrow,
  &__line,
  &__square {
    transition: all 550ms ease-out;
    transition-property: fill, stroke;
  }

  &:hover {
    .back-button__square {
      fill: $client-background-colour;
      stroke: black;
    }

    .back-button__arrow {
      fill: black;
    }
    .back-button__line {
      stroke: black;
    }
  }
}
