.markdown {
  code.language-jsx,
  code.language-javascript {
    background: transparent;
    display: block;
    font-size: 12px !important;
    line-height: 1.75 !important;
    white-space: pre-wrap !important;

    .token.operator {
      background: transparent;
    }
  }
}
