.lab {
  canvas {
    max-height: 70vw;
    max-width: 70vw;
  }
}

.stayyyyyyyyyyyyyy {

  &.page--entering {
  }

  &.page--exiting {
    /*background: red;
    opacity: .5;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;*/
  }
}
