.lab {
  background: $client-background-colour;
  color: black;
  margin: 0 auto;
  min-height: 100vh;
  padding: 86px 20px 12vw;
  position: relative;
  z-index: 1;

  @media #{$tablet} {
    padding: 86px 70px 12vw;
  }

  @media #{$tablet-large} {
    padding: 86px 11vw 12vw;
  }

  @media #{$laptop} {
    padding: 86px 86px 86px;
  }

  a {
    @include font-light;
    color: white;
    text-decoration: none;
  }

  .client-name {
    @include font-light;
    @include font-rl;
    display: block;
    font-weight: 400;
    letter-spacing: -.04vw;
    margin: 0;
    padding: 0 0 1.4vw 0;
    position: relative;

    @media #{$tablet} {
      padding: 0 0 22px 0;
    }

    .category-link__wrapper {
      display: inline-block;
    }

    .category-link__text {
      padding: 0 4px;
    }
  }

  canvas {
    max-height: 70vw;
    max-width: 70vw;
  }
}
