.page {
  display: block;
  min-width: 100vw;
  overflow: hidden;
  width: 100vw;

  .content {
    display: block;
    position: relative;
  }

  &.home ~ .page .back-button {
    animation: fade-in 250ms ease-out 750ms both;
  }
}

.page.page--entering {
  background: transparent;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.page.page--exiting {
  background: transparent;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  position: relative;
  right: 0;
  top: 0;
}

.page--exited {
  display: none;
}

.page--rl.page--entering .content {
  animation: 850ms animation-rl cubic-bezier(.73,0,.51,.99) both;
}

.page--rl.page--exiting .content {
  animation: animation-rl-out 850ms cubic-bezier(.73,0,.51,.99) 0ms both;
}

.page--lr.page--entering .content {
  animation: 850ms animation-lr cubic-bezier(.73,0,.51,.99) both;
}

.page--lr.page--exiting .content {
  animation: animation-lr-out 850ms cubic-bezier(.73,0,.51,.99) 0ms both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-rl {
  from {
    transform: translate3d(100vw, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-rl-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100vw, 0, 0);
  }
}

@keyframes animation-lr {
  from {
    transform: translate3d(-100vw, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-lr-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100vw, 0, 0);
  }
}
