@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

:root {
  --page-transition-duration: 850ms;

  @media screen and (min-width : 640px) {
    --page-transition-duration: 1250ms;
  }
}

html, body {
  background: #f1f1f1;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
}

#app {
  display: block;
  min-height: 100%;
  position: relative;
}
