@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

$background-colour: #f1f1f1;

@import './media-queries';
@import './mixins';

@import './page';
@import './home';
@import './work';
@import './lab';

@import './paragraph';
@import './title';
@import './picture';
@import './video';
@import './code';

@import './category-link';

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html, body {
  background: $background-colour;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
}

.content {
  margin: 0 auto;
  max-width: 100%;

  @media #{$tablet} {
    max-width: 80vw;
  }

  @media #{$tablet-large} {
    max-width: 70vw;
  }

  @media #{$laptop} {
    max-width: 960px;
  }
}
