@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

@mixin font-light($fontSize: 5.6vw) {
  font-family: 'Roboto Mono', monospace;
  font-size: $fontSize;
  font-display: swap;
  letter-spacing: -0.05em;
  line-height: 1.28;
}

@import './media-queries';

@import './home';
@import './client';
@import './page';

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.content {
  margin: 0 auto;
  max-width: 540px;

  @media #{$laptop} {
    max-width: 1024px;
  }
}

.transition-canvas {
  display: block;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
