<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>stilva – Thomas Ansart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="stilva – Thomas Ansart">
	<meta name="msapplication-TileColor" content="#000">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="application-name" content="stilva.com">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#000">
	<% if(typeof rendered !== "undefined") { %>
		<link rel="stylesheet" href="/styles.css" type="text/css" />
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19518429-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-19518429-1');
		</script>
		<% } %>
</head>
<body>
	<div id="app">
		<% if (typeof rendered !== "undefined") { %><%- rendered %><% } %>
	</div>
	<% if(typeof rendered !== "undefined") { %>
		<script src="/bundle.js"></script>
	<% } %>
</body>
</html>
